*{
    background-color: rgb(40, 40, 40);
    

}

a{
    text-decoration: none;
    color: rgb(136, 136, 136);
    text-align: flex;
    gap: 1rem;
    border-color: rgb(24, 24, 24);
    border-radius: 10px;
    
}

#nav-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: 'Bebas Neue';
    
}

